#footer_wrap {
    position: absolute;
    bottom: 0;
    height: 84px;
    width: 99%;
}
footer {
    bottom: 0;
    z-index: 9999;
    position: relative;

}
#footer_arrow {
    position: absolute;
    width: 100px;
    height: 18px;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    background-color: #4EB7CD;
    z-index: 9999;
    cursor: pointer;
    border-top-left-radius:0%;
    border-top-right-radius:0%;
    border-bottom-left-radius:100%;
    border-bottom-right-radius:100%;
    color: #FFFFFF;
}
#player {
    width:60%;
    height: 100%;
    background-color: #D93E3B;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    bottom: 0;

    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}